from django.contrib.auth.decorators import login_required
from django.contrib.auth import login, authenticate
from django.contrib.auth.forms import UserCreationForm
from django.shortcuts import render, redirect
from django.db import IntegrityError
from .forms import SignUpForm
from django.contrib.auth.forms import AuthenticationForm
from django.contrib import auth
from django.contrib.auth import authenticate, login
from django.contrib.auth.views import auth_login
from django.contrib.auth import logout
from django.contrib.auth.models import User

from .forms import SignUpForm , {% for key, value in APPS.items() %} {{key|upper}}_Form {% if loop.last %}{% else %},{% endif %} {% endfor %}

from .models import {% for key, value in APPS.items() %} {{key|upper}} {% if loop.last %}{% else %},{% endif %} {% endfor %}

from .json_import import FORM


@login_required(login_url='{{APP}}:login')
def home(request):
    context = {}
{% for key, value in APPS.items() %}
    context.update({ '{{key|lower}}' : { 'item' : {{key|upper}}.objects.all() , 'edit' : 'edit_{{key|lower}}' ,  'create' : 'create_{{key|lower}}' }})
{% endfor %}
    return render(request, '{{APP}}/Home.html' ,  context )


def signup(request):
    if request.user.is_authenticated:
        return redirect('{{APP}}:home')
    if request.method == 'POST':
        SignUp = SignUpForm(request.POST)
        try:
            cache = request.session['saved']
        except KeyError:
            cache = {}
        if SignUp.is_valid():
            email = SignUp.cleaned_data.get('email')
            username = SignUp.cleaned_data.get('email')
            raw_password = SignUp.cleaned_data.get('password1')
            try:
                user = User.objects.create_user(username, email , raw_password)
                user.save()
                user = authenticate(username=username, password=raw_password)
                auth_login(request, user)
                current = request.user
{% for key, value in APPS.items() %}
                try:
                  {{key|lower}}_form = {{key|upper}}_Form(cache,user=current)
                  if {{key|lower}}_form.is_valid():
                    {{key|lower}}_form.save()
                except Exception as e:
                  pass
{% endfor %}
            except IntegrityError:
                context = add_Menu_and_list(request)
                context.update({ 'form': SignUp })
                context.update({ 'Title': 'Sign up' , 'sigup_error' : 'User Already Exist' })
                return render(request, '{{APP}}/signup.html',  context )
            user = authenticate(username=username, password=raw_password)
            auth_login(request, user)
            return redirect('{{APP}}:home')
    else:
        SignUp = SignUpForm()
    context.update({ 'form': SignUp })
    context.update({ 'Title': 'Sign up' })
    return render(request, '{{APP}}/signup.html',  context )


def login(request):
    if request.user.is_authenticated:
        return redirect('{{APP}}:home')
    if request.method == 'POST':
        login_form = AuthenticationForm(request, data=request.POST)
        if login_form.is_valid():
            auth_login(request, login_form.get_user())
            return redirect('{{APP}}:home')
        else:
            context.update({ 'form' : login_form })
            return render(request, '{{APP}}/login.html', context)
    login_form = AuthenticationForm()
    context.update({ 'form' : login_form })
    return render(request, '{{APP}}/login.html', context)

def logout_view(request):
    logout(request)
    return redirect('{{APP}}:login')
