from django.contrib import admin

# Register your models here.
from .models import {% for i in models %}{{i.new_name|upper}} {% if loop.last %}{% else %},{% endif %}{% endfor %}





{% for i in models %}
admin.site.register({{i.new_name|upper}})
{% endfor %}
