from django import template
from django.template import Template
from django.template import loader, Context
from django.template.loader import render_to_string
from django.utils.safestring import mark_safe
from django.template.loader import get_template
from django.urls import reverse

register = template.Library()

@register.simple_tag(takes_context=True)
def get_menu(context):
  content = {}
  urls = []
{% for i in models %}
  urls.append({ 'Name' : '{{i.new_name|upper}}' , 'url' : reverse('General:create_{{i.new_name|lower}}') })
{% endfor %}
  content.update( { 'urls' : urls } )
  return mark_safe(render_to_string('General/TAG_TPL/menu_tag.html' , content ))
