from django.urls import path
from django.conf.urls import url

from . import views
from . import accounts

app_name = '{{APP}}'
urlpatterns = [
    path('', views.index, name='index'),
{% for i in urls %}
{{i.render}}
{% endfor %}
    path('call', views.ajax_call, name='call'),
    path('call/<slug:form_name>/', views.ajax_call, name='call'),
    path('call/<slug:form_name>/<slug:field>', views.ajax_call, name='call'),
    path('login/', accounts.login, name='login'),
    path('signup/', accounts.signup, name='signup'),
    path('home/', accounts.home, name='home'),
]
