from django.shortcuts import render , redirect
from django.shortcuts import get_object_or_404
from django.urls import reverse
from django.http import HttpResponse
import json

from .models import {% for key, value in APPS.items() %} {{key|upper}} {% if loop.last %}{% else %},{% endif %} {% endfor %}

from .forms import {% for key, value in APPS.items() %} {{key|upper}}_Form {% if loop.last %}{% else %},{% endif %} {% endfor %}

from .json_import import FORM

{{ views }}


def index(request):
  context = {}
{% for key, value in APPS.items() %}
  context.update({ '{{key|lower}}' : { 'item' : {{key|upper}}.objects.all() , 'edit' : 'edit_{{key|lower}}' ,  'create' : 'create_{{key|lower}}' }})
{% endfor %}
  return render(request, '{{APP}}/Main.html', context )

def get_price(request,form_name):
  session = request.session[form_name]
  total = 0
  for key , val in session.items():
      total += float(val['current'])
  return total

{% for key, value in APPS.items() %}
def create_{{key|lower}}(request):
    if request.method == 'POST':
        form = {{key|upper}}_Form(request.POST)
        form.get_field(request,'{{key|upper}}')
        if form.is_valid():
          if request.user.is_authenticated:
            form.save()
            return redirect('{{APP}}:index')
          else:
            return render(request, '{{APP}}/mail.html', {'form': form.cleaned_data ,  'total' :  get_price(request,'{{key|upper}}') })
    else:
        form = {{key|upper}}_Form()
        form.get_field(request,'{{key|upper}}')
    location = reverse('{{APP}}:create_{{key|lower}}')
    call = reverse('General:call' , kwargs={'form_name': '{{key|upper}}' } )
    return render(request, '{{APP}}/form.html', {'form': form , 'pk' : location , 'call' : call , 'total' :  get_price(request,'{{key|upper}}')  })



def edit_{{key|lower}}(request,pk):
  if request.user.is_authenticated:
    {{key|lower}}_instance = get_object_or_404({{key|upper}}, pk=pk)
    if request.method == 'POST':
        form = {{key|upper}}_Form(request.POST,instance={{key|lower}}_instance)
        form.get_field(request,'{{key|upper}}')
        if form.is_valid():
          form.save()
          return redirect('{{APP}}:index')
    else:
        form = {{key|upper}}_Form(instance={{key|lower}}_instance)
        form.get_field(request,'{{key|upper}}')
    location = reverse('{{APP}}:edit_{{key|lower}}' , kwargs={'pk': pk} )
    call = reverse('General:call' , kwargs={'form_name': '{{key|upper}}' } )
    return render(request, '{{APP}}/form.html', {'form': form , 'pk' : location , 'call' : call , 'total' :  get_price(request,'{{key|upper}}')  } )
  else:
    return redirect('{{APP}}:index')

{% endfor %}


def ajax_call(request,form_name=False,field=False):
    remove = False
    if request.method == 'POST' and field and form_name :
      request.session.modified = True
      session = ''
      try:
          session = request.session[form_name]
      except KeyError:
          request.session[form_name] = {}
          session = request.session[form_name]
      try :
        if session[field]['value'] == 'on,':
            remove = True
        session[field]['value'] = request.POST.get(field)
        try:
            if not remove:
                session[field]['price'] = FORM[field][session[field]['value']]
            else:
                session[field]['price'] = 0
        except KeyError:
            try:
                session[field]['price'] = FORM[field]['price']
            except KeyError:
                pass
      except KeyError:
          session[field] = {}
          session[field]['value'] = request.POST.get(field)
          try:
              session[field]['price'] = FORM[field][session[field]['value']]
          except KeyError:
              try:
                  session[field]['price'] = FORM[field]['price']
              except KeyError:
                  session[field]['price'] = 0
          session[field]['current'] = 0
      try:
         session[field]['current'] = float(session[field]['value']) *  session[field]['price']
      except Exception as e:
         session[field]['current'] = session[field]['price'] *  1
    return HttpResponse(json.dumps({ 'success' : True , 'field' : session[field]['value'] , 'price' : session[field]['price'] , 'current' : session[field]['current'] , 'total'  : get_price(request,form_name) }), content_type="application/json")
