<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js" data-cfasync="false" ></script>
<script data-cfasync="false">
  var app = angular.module("App", []);
  app.controller("AppController", function($scope) {
    var url = "{% url 'ajaxcall:call' %}" ;
      $( "input,select" ).each(function() {
        $(this).change(function() {
           var cdata = { 'csrfmiddlewaretoken': '{{ csrf_token }}' };
           if($( this ).attr( "type" ) == 'checkbox'){
             var values = '';
             $.each($("input[name='" + $( this ).attr("name") + "']:checked"), function(){
               console.log($(this).val())
               values += $(this).val() + ','
              });
              console.log(values)
             cdata[$( this ).attr( "name")] = values
           }else{
             cdata[$( this ).attr( "name") ] = $(this).val()
            }
            $.post( url + $( this ).attr( "name" ) + '/' + $( this ).attr( "fsub" ) , cdata ).done(function( data ) {
              console.log(data)
            });
          });
      })
  })
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
