def create_{{Title|lower}}(request):
    if request.method == 'POST':
        form = {{Title}}_Form(request.POST)
        form.get_field(request,'{{Title}}')
        if form.is_valid():
          if request.user.is_authenticated:
            form.save()
            return redirect('{{Master}}:index')
          else:
            return render(request, '{{Master}}/Main/mail.html', {'form': form.cleaned_data ,  'total' :  get_price(request,'{{Title}}') })
    else:
        form = {{Title}}_Form()
        form.get_field(request,'{{Title}}')
    location = reverse('{{Master}}:create_{{Title|lower}}')
    call = reverse('General:call' , kwargs={'form_name': '{{Title}}' } )
    return render(request, '{{Master}}/form.html', {'form': form , 'pk' : location , 'call' : call , 'total' :  get_price(request,'{{Title}}')  })

def edit_{{Title|lower}}(request,pk):
  if request.user.is_authenticated:
    {{Title|lower}}_instance = get_object_or_404({{Title}}, pk=pk)
    if request.method == 'POST':
        form = {{Title}}_Form(request.POST,instance={{Title|lower}}_instance)
        form.get_field(request,'{{Title}}')
        if form.is_valid():
          form.save()
          return redirect('{{Master}}:index')
    else:
        form = {{Title}}_Form(instance={{Title|lower}}_instance)
        form.get_field(request,'{{Title}}')
    location = reverse('{{Master}}:edit_{{Title|lower}}' , kwargs={'pk': pk} )
    call = reverse('General:call' , kwargs={'form_name': '{{Title}}' } )
    return render(request, '{{Master}}/form.html', {'form': form , 'pk' : location , 'call' : call , 'total' :  get_price(request,'{{Title}}')  } )
  else:
    return redirect('{{Master}}:index')
