from django.urls import path
from django.conf.urls import url

from . import views

app_name = '{{APP}}'
urlpatterns = [
    path('', views.index, name='index'),
{% for model in models %}
{% if not model.Choice.select %}
    path('create_{{model.Name|lower}}', views.create_{{model.Name|lower}}, name='create_{{model.Name|lower}}'),
    path('edit_{{model.Name|lower}}/<int:pk>', views.edit_{{model.Name|lower}}, name='edit_{{model.Name|lower}}'),
{% endif %}
{% endfor %}
    path('create_{{APP|lower}}_QUOTE', views.create_{{APP|lower}}_QUOTE, name='create_{{APP|lower}}_QUOTE'),
    path('edit_{{APP|lower}}_QUOTE/<int:pk>', views.edit_{{APP|lower}}_QUOTE, name='edit_{{APP|lower}}_QUOTE'),
    path('call', views.ajax_call, name='call'),
    path('call/<slug:field>', views.ajax_call, name='call'),
]
