from django.shortcuts import render , redirect
from django.shortcuts import get_object_or_404

from django.http import HttpResponse
import json

from .models import {% for model in models %}{% if not model.Choice.select %}{{model.Name|upper}} , {% endif %}{% endfor %}{{APP|upper}}_QUOTE
from .forms import {% for model in models %}{% if not model.Choice.select %}{{model.Name|upper}}Form , {% endif %}{% endfor %}{{APP|upper}}_QUOTE_Form
from .json_import import FORM


def index(request):
  context = {}
{% for model in models %}
{% if not model.Choice.select %}
  context.update({ '{{model.Name|lower}}' : { 'item' : {{model.Name|upper}}.objects.all() , 'edit' : 'edit_{{model.Name|lower}}' ,  'create' : 'create_{{model.Name|lower}}' }})
{% endif %}
{% endfor %}
  context.update({ '{{APP|lower}}' : { 'item' : {{APP|upper}}_QUOTE.objects.all() , 'edit' : 'edit_{{APP|lower}}_QUOTE' ,  'create' : 'create_{{APP|lower}}_QUOTE' }})
{% for model in Model %}
  context.update({ '{{model.Name|lower}}' : controller.get_{{model.Name}}() })
{% endfor %}
  return render(request, '{{APP}}/Main.html', context )


{% for model in models %}
{% if not model.Choice.select %}
def create_{{model.Name|lower}}(request):
    if request.method == 'POST':
        form = {{model.Name|upper}}Form(request.POST)
        if form.is_valid():
          form.save()
          return redirect('{{APP}}:index')
    else:
        form = {{model.Name|upper}}Form()
    return render(request, '{{APP}}/form.html', {'form': form})


def edit_{{model.Name|lower}}(request,pk):
    {{model.Name|lower}}_instance = get_object_or_404({{model.Name|upper}}, pk=pk)
    if request.method == 'POST':
        form = {{model.Name|upper}}Form(request.POST,instance={{model.Name|lower}}_instance)
        if form.is_valid():
          form.save()
          return redirect('{{APP}}:index')
    else:
        form = {{model.Name|upper}}Form(instance={{model.Name|lower}}_instance)
    return render(request, '{{APP}}/form.html', {'form': form , 'item' : {{model.Name|lower}}_instance  })


{% endif %}
{% endfor %}

def create_{{APP|lower}}_QUOTE(request):
    if request.method == 'POST':
        form = {{APP|upper}}_QUOTE_Form(request.POST)
        if form.is_valid():
          form.save()
    else:
        form = {{APP|upper}}_QUOTE_Form()
    return render(request, '{{APP}}/form.html', {'form': form})

def edit_{{APP|lower}}_QUOTE(request,pk):
    {{APP|lower}}_instance = get_object_or_404({{APP|upper}}_QUOTE, pk=pk)
    if request.method == 'POST':
        form = {{APP|upper}}_QUOTE_Form(request.POST,instance={{APP|lower}}_instance)
        if form.is_valid():
          form.save()
          return redirect('{{APP}}:index')
    else:
        form = {{APP|upper}}_QUOTE_Form(instance={{APP|lower}}_instance)
    return render(request, '{{APP}}/form.html', {'form': form})


def ajax_call(request,field=False):
    if request.method == 'POST' and field:
      request.session.modified = True
      try :
        request.session[field]['value'] = request.POST.get(field)
        try:
            request.session[field]['price'] = FORM[field][request.session[field]['value']]
        except KeyError:
            try:
                request.session[field]['price'] = FORM[field]['price']
            except KeyError:
                pass
      except KeyError:
          request.session[field] = {}
          request.session[field]['value'] = request.POST.get(field)
          try:
              request.session[field]['price'] = FORM[field][request.session[field]['value']]
          except KeyError:
              try:
                  request.session[field]['price'] = FORM[field]['price']
              except KeyError:
                  request.session[field]['price'] = 0
          request.session[field]['current'] = 0
      try:
         request.session[field]['current'] = float(request.session[field]['value']) *  request.session[field]['price']
      except Exception as e:
         request.session[field]['current'] = request.session[field]['price'] *  1
    return HttpResponse(json.dumps({ 'success' : True , 'field' : request.session[field]['value'] , 'price' : request.session[field]['price'] , 'current' : request.session[field]['current']  }), content_type="application/json")
